<!doctype html>
<html lang="en">
  <%= partial 'layouts/head' %>
  <body id="lcboapi_body" class="gs768">
    <%= partial 'layouts/header' %>
    <div class="grid-body">
      <div class="constraint">
        <%= yield %>
      </div>
    </div>
    <%= partial 'layouts/footer' %>
    <%= partial 'layouts/ga' %>
  </body>
</html>
