<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="description" content="A fast, cloud-based API for LCBO store, product, and inventory data.">
    <title><%= yield_content(:title) || 'LCBO API' %></title>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Roboto:500,900,400italic,400,300,300italic,700,700italic' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Source+Code+Pro' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag 'lcboapi' %>
    <%= javascript_include_tag 'lcboapi' %>
  </head>

  <body class="lcboapi">
    <header>
      <h1 class="lcboapi-wordmark">
        <a href="/">
          <span>LCBO API</span>
        </a>
      </h1>
      <nav>
        <ol>
          <li>
            <a href="/docs/v1">
              Documentation
            </a>
          </li>
          <li>
            <a href="/news">
              News
            </a>
          </li>
          <li>
            <a href="/log-in">
              Log In
            </a>
          </li>
          <li class="sign-up">
            <a href="/sign-up" class="button">
              Get A Key
            </a>
          </li>
        </ol>
      </nav>
    </header>

    <main>
      <%= yield %>
    </main>

    <footer>
      <nav>
        <ol>
          <li>
            <a href="mailto:info@lcboapi.com">
              Contact
            </a>
          </li>
          <li>
            <a href="/terms">
              Legal
            </a>
          </li>
          <li>
            <a href="/privacy">
              Privacy
            </a>
          </li>
          <li>
            <a href="/credits">
              Credits
            </a>
          </li>
        </ol>
      </nav>

      <p class="disclaimer">
        <span>
          LCBO API is not funded or endorsed by the LCBO
        </span>
      </p>

      <p class="copyright">
        &copy; 2009&ndash;<%= Time.now.year %>
        <a href="http://heycarsten.com">Carsten Nielsen</a>
      </p>
    </footer>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-8617929-2', 'auto');
      ga('send', 'pageview');
    </script>
  </body>
</html>
