<h1>Crawls</h1>
<table class="crawls">
  <tr>
    <th scope="col">Started</th>
    <th scope="col">Elapsed Time</th>
    <th scope="col">Progress</th>
    <th scope="col">Status</th>
    <th scope="col">Log</th>
  </tr>
  <% @crawls.each do |crawl| %>
    <tr class="<%= crawl.state %>">
      <td>
        <%= link_to admin_crawl_path(crawl) do %>
          <%= nice :datetime, crawl.created_at %>
        <% end %>
      </td>
      <td>
        <%= distance_of_time_in_words(crawl.created_at, crawl.updated_at) %>
      </td>
      <td title="<%= crawl.total_jobs %> / <%= crawl.total_finished_jobs %>">
        <%= '%0.0f%' % (crawl.progress * 100) %>
      </td>
      <td>
        <%= crawl.state %>
      </td>
      <% crawl.crawl_event.tap do |ev| %>
        <td class="<%= ev ? ev.level : nil %>">
          <%= ev.try(:message) %>
        </td>
      <% end %>
    </tr>
  <% end %>
</table>
