<h1>Crawl</h1>

<dl class="crawl-info">
  <dt>Start Time</dt>
  <dd><%= nice :datetimesec, @crawl.created_at %></dd>
  <dt>Elapsed Time</dt>
  <dd><%= distance_of_time_in_words @crawl.created_at, @crawl.updated_at, true %></dd>
  <dt>Status</dt>
  <dd><%= @crawl.state %></dd>
  <dt>Progress</dt>
  <dd>
    <%= @crawl.total_jobs %> / <%= @crawl.total_finished_jobs %> -
    <%= "%0.0f%" % (@crawl.progress * 100) %>
  </dd>
  <dt>Total Stores<dt>
  <dd>
    <%= @crawl.total_stores %>
  </dd>
  <dt>Total Products</dt>
  <dd>
    <%= @crawl.total_products %>
  </dd>
  <dt>Total Inventories</dt>
  <dd>
    <%= @crawl.total_inventories %>
  </dd>
</dl>

<table class="crawl-events">
  <tr>
    <th>Time</th>
    <th>Message</th>
  </tr>
  <% @events.each do |ev| %>
    <tr class="<%= ev.level %>">
      <td>
        <%= link_to admin_crawl_event_path(ev) do %>
          <%= nice :datetimesec, ev.created_at %>
        <% end %>
      </td>
      <td>
        <%= ev.message %>
      </td>
    </tr>
  <% end %>
</table>
