<div class="spinner">
  <div class="bounce1"></div>
  <div class="bounce2"></div>
  <div class="bounce3"></div>
</div>

<header>
  <h1 class="lcboapi-wordmark">
    {{#link-to "dashboard"}}
      <span>LCBO API</span>
    {{/link-to}}
  </h1>

  <nav>
    <ol>
      {{#if session.isAuthenticated}}
        <li {{bind-attr class=":account-menu-container showAccountMenu:open"}}>
          <a href="#" class="account-name" {{action "toggleAccountMenu"}}>
            {{session.account.name}} <i class="fa fa-chevron-down"></i>
          </a>
          <ul class="account-menu">
            <li class="keys">
              {{#link-to "dashboard.keys"}}
                Access Keys
              {{/link-to}}
            </li>
            <li class="account">
              {{#link-to "dashboard.account"}}
                Account
              {{/link-to}}
            </li>
            <li class="log-out">
              <a href="#" {{action "logOut"}}>Log Out</a>
            </li>
          </ul>
        </li>
      {{else}}
        <li class="log-in">
          {{#link-to "login"}}
            Log In
          {{/link-to}}
        </li>
        <li class="sign-up">
          {{#link-to "signup"}}
            Sign Up
          {{/link-to}}
        </li>
      {{/if}}
    </ol>
  </nav>
</header>

<main>
  {{outlet}}
</main>

<footer>
  <span class="banner">
    LCBO API &copy; 2009&ndash;{{unbound year}} Carsten Nielsen
  </span>
  <nav>
    <ol>
      {{#unless session.isAuthenticated}}
        <li>
          {{#link-to "password.recover"}}Recover Password{{/link-to}}
        </li>
      {{/unless}}
      <li>
        <a href="/tos">Legal</a>
      </li>
      <li>
        <a href="/privacy">Privacy</a>
      </li>
      <li>
        <a href="/credits">Credits</a>
      </li>
      <li>
        <a href="mailto:help@lcboapi.com">Help</a>
      </li>
    </ol>
  </nav>
</footer>
