<header>
  <h1 class="logo">
    {{#link-to "index"}}
      <span>LCBO API</span>
    {{/link-to}}
  </h1>
</header>

<form novalidate {{action "createAccount" on="submit"}}>
  <div class="field name" {{bind-attr class="errors.name:has-error"}} {{action "clearErrorsOn" "name"}}>
    {{input id="name" name="name" value=name placeholder="Your Name" autofocus=true disabled=disabled tabindex=1}}
    <label for="name"><span class="novis">Full name</span></label>

    {{#if errors.name}}
      <div class="error-msg">{{errors.name}}</div>
    {{/if}}
  </div>

  <div class="field email" {{bind-attr class="errors.email:has-error"}} {{action "clearErrorsOn" "email"}}>
    {{input type="email" id="email" value=email placeholder="Email" disabled=disabled tabindex=2}}
    <label for="email"><span class="novis">Email</span></label>

    {{#if errors.email}}
      <div class="error-msg">{{errors.email}}</div>
    {{/if}}
  </div>

  <div class="field password create" {{bind-attr class="errors.password:has-error"}}>
    <span {{action "clearErrorsOn" "password"}}>
      {{password-input id="password" name="password" placeholder=passwordPlaceholder value=password showPassword=showPassword disabled=disabled tabindex=3}}
      <label for="password"><span class="novis">Password</span></label>
      <button {{bind-attr class=":toggle-mask showPassword:unmasked:masked"}} {{action "togglePasswordMask"}}>
        <span class="novis">
          {{#if showPassword}}
            Mask
          {{else}}
            Unmask
          {{/if}}
        </span>
      </button>
    </span>

    {{#if errors.password}}
      <div class="error-msg">{{errors.password}}</div>
    {{/if}}
  </div>

  <div class="actions">
    <button class="sign-up" type="submit" {{bind-attr disabled=disabled}} tabindex="4">Sign Up</button>
  </div>

  <div {{bind-attr class=":next-step-msg isSent:appear"}}>
    <p>A confirmation email has been sent to {{email}}. If it does not arrive
    soon or you need assistance, send me an <a href="mailto:help@lcboapi.com">email</a>.</p>
  </div>

  <div class="wollow">
    <p>Already have an account? {{#link-to "login"}}Log In{{/link-to}}</p>
  </div>
</form>
