<h1><%= resource.name %></h1>

<%= markdown resource.body %>

<h2>Object structure</h2>

<table>
  <thead>
    <tr>
      <th>Property</th>
      <th>Description</th>
    </tr>
  </thead>
  <tbody>
    <% resource.fields.each_pair do |key, desc| %>
      <tr>
        <td><code><%= key %></code></td>
        <td><%= markdown desc %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% resource.endpoints.each do |endpoint| %>
  <hr>

  <div class="endpoint-card">
    <h3>
      <b class="<%= (endpoint.type || 'get').downcase %>">
        <%= (endpoint.type || 'GET').upcase %>
      </b>
      <%= format_route(endpoint.route) %>
    </h3>

    <div class="summary">
      <%= markdown endpoint['body'] %>
    </div>

    <%= endpoint.name %> - <%= endpoint.summary %>
  </div>
<% end %>
