<section class="docs-content">
  <header data-spy="affix" data-offset-top="68">
    <%
=begin %>
    <nav class="tabs">
      <ol>
        <li<% if api.version == 1 %> class="active"<% end %>>
          <a href="/docs/v1">V1</a>
        </li>
        <li<% if api.version == 2 %> class="active"<% end %>>
          <a href="/docs/v2">V2</a>
        </li>
      </ol>
    </nav>
    <%
=end %>
    <nav class="sections">
      <div class="manuals">
        <h2>API V<%= api.version %> Guide</h2>
        <ol class="manuals">
          <% data["v#{api.version}"].manuals.each do |section| %>
            <% next unless section.anchor %>
            <li<% if section.is_sub %> class="sub"<% end %>>
              <a href="/docs/v1#<%= section.anchor %>">
                <%= section.title %>
              </a>
            </li>
          <% end %>
        </ol>
      </div>

      <div class="endpoints">
        <h2>Endpoints</h2>
        <% data["v#{api.version}"].resources.each do |resource| %>
          <h3 class="endpoint-name">
            <a href="/docs/v<%= api.version %>/<%= resource.slug %>">
              <%= resource.name %>
            </a>
          </h3>
          <ol class="endpoints">
            <% resource.endpoints.each do |endpoint| %>
              <li>
                <a href="/docs/v<%= api.version %>/<%= resource.slug %>#<%= endpoint.anchor %>">
                  <%= endpoint.route %>
                </a>
              </li>
            <% end %>
          </ol>
        <% end %>
      </div>
    </nav>
  </header>

  <article>
    <header>
      <h1>LCBO API Version <%= api.version %></h1>
    </header>

    <div class="document">
      <% if defined? api_resource %>
        <% content_for :title, api_resource.title %>
        <%= partial 'docs/resource', locals: { resource: api_resource } %>
      <% else %>
        <% content_for :title, "LCBO API V#{api.version} Documentation" %>
        <% api.manuals.each do |section| %>
          <% if section.anchor %>
            <span id="<%= section.anchor %>"></span>
          <% end %>
          <%= markdown section.body %>
        <% end %>
      <% end %>
    </div>
  </article>
</section>
