<header>
  {{link-to "New Access Key" "dashboard.keys.new" class="button"}}
</header>

<table>
  <tr>
    <th>Key</th>
    <th>Kind</th>
    <th>Token</th>
  </tr>
  {{#each key in this}}
    <tr>
      <td>{{key.label}}</td>
      <td>{{key.kind}}</td>
      <td>{{key.token}}</td>
    </tr>
  {{else}}
    <tr class="empty">
      <td colspan="3"><em>You have not created any access keys.</em></td>
    </tr>
  {{/each}}
</table>
