<header>
  {{link-to "New Access Key" "dashboard.keys.new" class="button"}}
</header>

<table class="keys-table">
  <tr>
    <th>Key</th>
    <th>Kind</th>
    <th>Token</th>
  </tr>
  {{#each key in this}}
    {{#link-to "dashboard.keys.show" key tagName="tr"}}
      <td>{{key.label}}</td>
      <td>{{key.humanKind}}</td>
      <td>{{key.totalDailyRequests}}</td>
    {{/link-to}}
  {{else}}
    <tr class="empty">
      <td colspan="3"><em>You have not created any access keys.</em></td>
    </tr>
  {{/each}}
</table>
