{{password-input
  id=fieldGuid
  name=for
  placeholder=passwordPlaceholder
  value=value
  showPassword=showPassword
  disabled=disabled
  tabindex=tabindex}}

<label {{bind-attr for=fieldGuid}}><span class="novis">Password</span></label>

<span {{bind-attr class=":toggle-mask showPassword:unmasked:masked"}} {{action "togglePasswordMask"}}>
  <span class="novis">
    {{#if showPassword}}
      Mask
    {{else}}
      Unmask
    {{/if}}
  </span>
</span>
