- query = "QueryHelper::#{@document[:query]}".constantize

%h3 Parameters
%dl.query-params
  - if @document[:params].include?(:defaults)
    - if query.filterable_fields.any?
      %dt
        <code>where</code>, <code>where_not</code>
      %dd
        :markdown
          `where` filters products where the supplied fields are true. `where_not`
          filters products where the supplied fields are false. The two parameters
          can be used together. Multiple fields can be specified by joining them
          with a comma: `where=field1,field2`. The fields below may be
          specified:
          
          <code>#{query.filterable_fields.join(', ')}</code>
    - if query.sortable_fields.any?
      %dt
        %code order
      %dd
        :markdown
          Orders the results by the specified fields in ascending (`asc`) or
          descending (`desc`) order. Multiple fields can be specified by joining
          them with a comma: `order=field1.desc,field2.asc`. The fields below
          may be specified:
          
          <code>#{query.sortable_fields.join(', ')}</code>
    %dt
      %code limit
    %dd
      :markdown
        Only used for CSV and TSV responses, specifies the number of rows to
        return. The default value is **#{query.limit}**, and the maximum value
        is **#{query.max_limit}**.
    %dt
      %code page
    %dd
      :markdown
        The page number to return. Consult the API
        [conventions](/docs/conventions) documentation for more information about
        pagination.
    %dt
      %code per_page
    %dd
      :markdown
        The number of objects to include per page. The default value is
        **#{query.per_page}**, and the maximum value is **#{query.max_per_page}**.

  - if @document[:params].include?(:q)
    %dt
      %code q
    %dd
      :markdown
        Full text search query, should be URI encoded.
  - if @document[:params].include?(:geo)
    %dt
      %code geo
    %dd
      :markdown
        _NOTE: Can not be used when `lat` and `lon` parameters are specified._
        A URI encoded query (address, intersection, landmark, postal code) that
        is to be translated into a coordinate. Subject to rate-limiting; because
        of this it is recommended that your application performs geocoding
        itself and uses the `lat` and `lon` parameters for spatial searching
        instead.
    %dt
      %code lat
      and
      %code lon
    %dd
      :markdown
        _NOTE: Can not be used when `geo` parameter is specified._
        Specifies a latitude (`lat`) and longitude (`lon`) coordinate and
        performs a spatial search on stores indicating estimated distance from
        the coordinate in meters for each store.
