- if @document[:reverse_html_title]
  - title @document[:title] + ' LCBO API'
- else
  - title 'LCBO API ' + @document[:title]
.cols-1-2.clear
  .col-1
    .side-title
      %h1 <span>LCBO API </span>Documentation
    %ul.side-menu
      - @sections.each_pair do |section, documents|
        = render 'root/section', :section => section, :documents => documents
  .col-2
    - case
    - when @document[:route]
      .document-title
        %h2= @document[:title]
        %dl
          %dt.uri-specification.hide
            URL Template
          %dd.uri-specification
            <code>http://lcboapi.com</code>#{format_route @document[:route]}
      %article.document-body
        %p.note
          %a{ :href => 'http://en.wikipedia.org/wiki/JSON#JSONP' } JSON-P
          is supported for this resource. Specify a <code>callback</code>
          parameter in the query string to use it.
        ~ discount @document[:body]
        %h3 Formats
        %table.formats
          - @document[:formats].each_pair do |type, desc|
            %tr
              %td.extension
                %b .#{type}
              %td.desc
                = desc
        - if @document[:params]
          %h3 Parameters
          %dl.query-params
            - @document[:params].each_pair do |name, desc|
              %dt
                %code= name
              %dd~ discount(desc)
        - if @document[:pairs]
          %h3 Explanation
          %table.fields
            - @document[:pairs].each do |field, desc|
              %tr
                %td.field
                  %code= field
                %td.desc
                  = desc
      - @document[:examples].each do |example|
        .document-example
          %form.usage-example-form{ :action => '#', :method => 'GET' }
            %fieldset
              %legend= example[:desc]
              %dl
                %dt
                  .hide
                    %label{ :for => 'query' } Query
                %dd.query-widget
                  http://beta.lcboapi.com
                  %input#query{ :name => 'query', :type => 'text', :value => example[:path] }
                  %input#submit{ :name => 'commit', :type => 'submit', :value => 'Request' }
                %dt.hide
                  Response
                %dd.example-response
                  %pre
                    %code.example-json-response {}
    - else
      .document-title
        %h2= @document[:title]
      .document-body
        ~ discount(@document[:body])
