<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <%= title %>
    <%= stylesheet_link_tag :application %>
  </head>
  <body class="admin">
    <header>
      <h1>
        <%= link_to 'LCBO API', admin_crawls_path %>
      </h1>
      <nav>
        <ul>
          <li><%= link_to 'Crawls', admin_crawls_path %></li>
          <li><%= link_to 'Users', admin_users_path %></li>
          <li><%= link_to 'Plans', admin_plans_path %></li>
        </ul>
      </nav>
    </header>
    <main>
<%= yield %>
    </main>
    <footer>
      <small>You&rsquo;re beautiful!</small>
    </footer>
  </body>
</html>
