!!! 5
%html{ :lang => 'en' }
  = render 'layouts/head'
  %body#lcboapi_body.gs960
    = render 'layouts/header'
    .grid-body
      .constraint
        = yield
    = render 'layouts/footer'
    = google_analytics_fragment
