<!doctype html>
<html lang="en">
  <%= render 'layouts/head' %>
  <body id="lcboapi_body" class="gs960">
    <%= render 'layouts/header' %>
    <div class="grid-body">
      <div class="constraint">
        <%= yield %>
      </div>
    </div>
    <%= render 'layouts/footer' %>
    <%= google_analytics_fragment %>
  </body>
</html>
